// app global css in SCSS form
body {
  font-family: 'Outfit', sans-serif;
}
.flex {
  display: flex;
}
.flex-jc {
  display: flex;
  justify-content: center;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-sa {
  display: flex;
  justify-content: space-around;
}
.flex-se {
  display: flex;
  justify-content: space-evenly;
}
.flex-ac {
  display: flex;
  align-items: center;
}
.flex-jac {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-re {
  display: flex;
  flex-direction: row-reverse;
}
// ---------------------------------
.f700 {
  font-weight: 700;
}
.f600 {
  font-weight: 600;
}
.f500 {
  font-weight: 500;
}
.f400 {
  font-weight: 400;
}
// ---------------------------------
.fz8 {
  font-size: 8px;
}
.fz9 {
  font-size: 9px;
}
.fz10 {
  font-size: 10px;
}
.fz11 {
  font-size: 11px;
}
.fz12 {
  font-size: 12px;
}
.fz13 {
  font-size: 13px;
}
.fz14 {
  font-size: 14px;
}
.fz15 {
  font-size: 15px;
}
.fz16 {
  font-size: 16px;
}
.fz17 {
  font-size: 17px;
}
.fz18 {
  font-size: 18px;
}
.fz19 {
  font-size: 19px;
}
.fz20 {
  font-size: 20px;
}
.fz21 {
  font-size: 21px;
}
.fz22 {
  font-size: 22px;
}
.fz23 {
  font-size: 23px;
}
.fz24 {
  font-size: 24px;
}
.fz25 {
  font-size: 25px;
}
.fz26 {
  font-size: 26px;
}
.fz27 {
  font-size: 27px;
}
.fz28 {
  font-size: 28px;
}
.fz29 {
  font-size: 29px;
}
.fz30 {
  font-size: 30px;
}
.fz31 {
  font-size: 31px;
}
.fz32 {
  font-size: 32px;
}
.fz33 {
  font-size: 33px;
}
.fz34 {
  font-size: 34px;
}
.fz35 {
  font-size: 35px;
}
.fz36 {
  font-size: 36px;
}
.fz37 {
  font-size: 37px;
}
.fz38 {
  font-size: 38px;
}
.fz39 {
  font-size: 39px;
}
.fz40 {
  font-size: 40px;
}
.fz41 {
  font-size: 41px;
}
.fz42 {
  font-size: 42px;
}
.fz43 {
  font-size: 43px;
}
.fz44 {
  font-size: 44px;
}
.fz45 {
  font-size: 45px;
}
.fz46 {
  font-size: 46px;
}
.fz47 {
  font-size: 47px;
}
.fz48 {
  font-size: 48px;
}
.fz49 {
  font-size: 49px;
}
.fz50 {
  font-size: 50px;
}
// -------------------------------------
.text-AF3D3D {
  color: #AF3D3D !important;
}
.bg-AF3D3D {
  background: #AF3D3D !important;
}
.text-B5B6C5 {
  color: #B5B6C5 !important;
}
.bg-B5B6C5 {
  background: #B5B6C5 !important;
}
.text-B5B6C5 {
  color: #B5B6C5 !important;
}
.bg-DAA520 {
  background: #DAA520 !important;
}
.text-DAA520 {
  color: #DAA520 !important;
}
.bg-4F615C {
  background: #4F615C !important;
}
.text-4F615C {
  color: #4F615C !important;
}
// --------------------------------------------
.ellipsis {
  white-space: nowrap;        /* 強制單行顯示 */
  overflow: hidden;          /* 隱藏超出範圍的內容 */
  text-overflow: ellipsis;   /* 超出部分用 "..." 表示 */
}
.wordBreakAll {
  word-break: break-all;
}
// --------------------------------------------
.options-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}
.options-subtitle {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}
